

/* Rectangle 1 */

.rectangle_1 {
  position: absolute;
  width: 284px;
  height: 382px;
  left: 135px;
  top: 190px;
  background: #C4C4C4;
}
/* Rectangle 3 */

.rectangle_2 {
  position: absolute;
  width: 284px;
  height: 382px;
  left: 553px;
  top: 190px;

  background: #C4C4C4;
}

.rectangle_3{
  /* Rectangle 6 */


  position: absolute;
  width: 284px;
  height: 382px;
  left: 1046px;
  top: 188px;

  background: #C4C4C4;
}

.logout_btn {
  font-size: 15px;
  font-weight: bold;
}

